@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
*, *::before, *::after{
    box-sizing: border-box;

}
:root {

    --clr-light: #fff;
    --clr-dark: #5777ec;
    --clr-accent: #ff6363;
}
body{
    margin: 20px;
    height: 100%;
    font-family: 'Inconsolata', monospace;
}

header{
    margin: 0;
    padding: 0;
    max-width:100%; 
    background: var(--clr-light);
    color:var(--clr-dark);
    
  }
.logo{
    max-width: 10%;
    height: 40px;
    margin: 0px 0px 0px 30px;
    padding: 0;
  }
.navbar__item{
    text-decoration: none;
  }